@import url(styles/reset.css);
@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/swiper.css);
@import url(styles/body.css);
@import url(styles/cards.css);
@import url(styles/services.css);
@import url(styles/gallery.css);

:root {
    --branco: #FFFFFF;
    --cinza: #454545;
    --azul: #8290B0;
    --azul-escuro: #535C71;
    --fundo: #F3F3F3;
}

body {
    background-color: var(--fundo);
    font-family: 'Lora', serif;
}

.map {
    width: 100%;
}

.space {
    margin-top: 58px;
}