.banner-img{
    width: 100%;
}

.banner {
    position: relative;
}

.swiper, .banner-cont {
    position: absolute;
    width: 100%;
    height: 100%;
}

.banner-cont {
    z-index: 2;
    padding: 0.7em;
    box-sizing: border-box;
    color: var(--branco);
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Roboto', serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.banner-title {
    font-size: 1.2em;
}

.banner-sub {
    font-weight: 300;
}

.banner-cto {
    border: solid 0.5px var(--branco);
    padding: 0.4em 1.5em;
    border-radius: 25px;
    font-weight: 300;
    text-decoration: none;
    color: var(--branco);
}
