.content {
    width: 90%;
    margin: 0 auto;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    color: var(--azul);
    font-weight: bold;
    text-align: center;
    margin: 1em 0 0.5em;
    font-size: 1.3em;
    text-transform: uppercase;
}

@media screen and (min-width: 375px) {
    .section-title {
        font-size: 1.35em;
    }
}

.about-us-text {
    color: var(--cinza);
    font-family: 'Roboto', serif;
    line-height: 20px;
    font-size: 0.9em;
    margin-bottom: 1.0em;
    text-align: center;
}

.testimonials {
    margin: 2em 0;
}

body {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}

#contato::before, #localizacao::before, #clinica::before, #servicos::before, #dentistas::before, #depoimentos::before {
    content: '';
    display: block;
    height:      75px;
    margin-top: -75px;
    visibility: hidden;
}
  