.testimonials-card, .dentists-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--branco);
    width: 85%;
    height: 100%;
    border-radius: 25px;
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.25);
    padding: 1em;
    font-family: 'Roboto', serif;
    line-height: 1.1em;
}

.profile-picture {
    width: 50%;
}

.dentists-card {
    justify-items: center;
    align-items: center;
}

.dentist-name {
    color: var(--azul-escuro);
    font-weight: bold;
    font-size: 1.4em;
    padding: 1em 0;
}

.subtitle {
    color: var(--azul-escuro);
    font-weight: bold;
    font-size: 1.1em;
    padding: 0.5em 0;
    font-family: 'Roboto', serif;
}

.dentist-desc {
    margin: 0 0 1em;
}
