.services-list {
    font-family: 'Roboto', serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 2em 0;
}

.service-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--branco);
    padding: 1em;
    border-radius: 25px;
    box-shadow: 3px 4px 3px rgb(0 0 0 / 25%);
}

.service-title {
    color: var(--azul-escuro);
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.1em;
}

.service-desc {
    opacity: 1;
    height: auto;
    font-weight: 300;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: var(--branco);
  cursor: pointer;
  padding: 9px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.8s;
  border-radius: 25px;
  font-family: 'Roboto', serif;
  box-sizing: border-box;
  box-shadow: 3px 4px 3px rgb(0 0 0 / 25%);
}

.accordion:focus {
    outline: none !important;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: none;
  width: 100%;
  height: 100%;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 9px;
    background-color: none;
    max-height: 0;
    overflow: hidden;
    background: var(--branco);
    transition: max-height 0.5s ease-out;
    cursor: default;
}

.remove-shadow {
    box-shadow: none !important;
}